body{
    background-image:url("bg.jpg");
    background-size:cover;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:Arial;
}

*{
    margin :0;
    padding:0;
    box-sizing:border-box;
}

#initialScreen{
    width:350px;
    height:250px;
}

.screen {
    padding: 0 4px;
    box-shadow: 0px 0px 15px rgb(43, 235, 161);
    display: none;
    background-color: white;
    border-radius: 12px;
    width: 500px;
    height: 350px;
    opacity:0.7;
}

.screen.active{
    display:block;
}

#initialHeading{
    width:100%;
    text-align:center;
    border-bottom:2px solid black;
}

#initialpage,
#questionpage,
#resultpage {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#initialpage h1 {
    color: rgb(163,46,23);
}

#resultpage h1{
    text-decoration:underline;
}

#QuestionsInfo {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.QuestionBlock {
    width:100%;
    text-align:center;
    border-bottom:2px solid black;
}

#AnswersBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.button{
    width:100%;
    height:40px;
    margin-bottom:2px;
    border:none;
    border-radius:12px;
}

    .button:hover {
        background-color: black;
        color: white;
        cursor: pointer;
        transition: background-color 1.5s;
    }

#progressbar{
     width:100%;
     height:10px;
     border-radius:8px;
     margin-top:5px;
     overflow:hidden; 
}

#progresswidth{
    height:100%;
    width:0%;
    background-color:cadetblue;
    transition:width 0.3s ease-in-out;
}

.correctanswer {
    background-color: lightgreen !important;
}

.wronganswer {
    background-color: red !important;
    color: white;
}